extends base.pug 


block style 
  style 
    include ../static/about.css 

block content 
  div.containerA 
    h1 About Us 
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil dolorum cum quibusdam cumque quam natus id beatae est, nostrum rem ab fugiat explicabo maiores non, veritatis exercitationem minus neque iure pariatur a modi praesentium! Placeat earum aperiam incidunt dolorem laboriosam!
     