h1{
    text-align: center;
    margin-top: 5px;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inp{
    margin: 7px;
    padding: 5px;
    width: 30%;
    border-radius: 4px;
}
/* #main{
    height: 80vh;
} */
#main::before{
    content: "";
    position: absolute;
    background: url('./static/images/con1.jpg');
    top: 0px;
    z-index: -1;
    opacity: 0.9;
    width: 100vw;
    height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
}
#btn{
    padding: 4px 7px;
    background: skyblue;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 7px;
}
#btn:hover{
    padding: 4px 7px;
    background: rgb(75, 164, 199);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
}